body {
    background: #42212F;
    color: #D1D1D1;
    font-family: Arial, sans-serif;
  }
  a {
    color: #D1D1D1;
  }
  .container {
    text-align: center;
    max-width: 580px;
    margin: 1em auto;
  }
  #data-display {
    padding: 1em;
    display: block;
    overflow-wrap: break-word;
    background: #662B61;
    border-radius: 1em;
  }

  @media (max-width: 600px) {

  }
  