body {
    background: #c94848;
    color: #f70505;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background: #2c2c2c;
}

#data-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(219, 205, 217);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

#data-display div {
    background: #333;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    flex-basis: calc(33% - 20px); 
    box-sizing: border-box;
}

#data-display h3 {
    margin-top: 0;
    color: #ff8c00;
}

#data-display p {
    margin: 5px 0;
    line-height: 1.6;
    color: #f7eeee;
}

@media (max-width: 600px) {
    .container, #data-display {
        width: 95%;
    }
    #data-display div {
        flex-basis: 100%; 
    }
}
